{% extends "base.html" %}
{% block content %}
<div class="content mt-3 ml-5 w-100 ">
 
    <main>
      <div class="container-fluid ">
        <div class="row d-md-flex  justify-content-center">
         
            <h3>Ticket Sales</h3>

                  <div class="table-responsive mt-5">
                  <table class="table table-striped table-hover table-bordered table-sm table-light border-dark">
                    <thead>
                      <tr>
                        <th scope="col">S/N</th>
                        <th scope="col">Ticke match </th>
                        <th scope="col">customer</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for sale in sales %}
                      <tr>
                        <td>{{sale.id}}</td>
                        <td><a href="" class="p-2">{{sale.sales_name}}</a></td>
                        <td>{{sale.sales_customer}}</td>
                      </tr>
                      {% endfor%}
                    </tbody>

                    <caption>
                      sales
                    </caption>
                      </table>
                  </div>
        </div>
  {% endblock %}
 